@charset "UTF-8";
.bg-gray {
  background: #f0efef;
}

.mt-S {
  margin-top: 1rem;
}

.mt-M {
  margin-top: 2rem;
}

html {
  font-size: 1.3333333333vw;
  font-size: clamp(10px, 1.3333333333vw, 20px);
}

body {
  font-size: 0.875rem;
  color: #495057;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Hiragino Sans", "ヒラギノ角ゴ ProN", "Noto Sans JP", "YuGothic",
    "游ゴシック体", sans-serif;
}

main {
  padding: 80px 0;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

textarea {
  min-height: 70px;
}

input:focus,
select:focus,
textarea:focus {
  outline: 0.15em solid #74a8c4;
}

.btn {
  border: solid 2px #495057;
  color: #fff;
  background: #495057;
  border-radius: 0.5rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
}
.btn:hover {
  color: #495057;
  background: #fff;
  font-weight: bold;
}
.btn + .frameList {
  margin-top: 2rem;
}
.btn.is-primary {
  border: solid 2px #74a8c4;
  background: #74a8c4;
}
.btn.is-primary:hover {
  color: #74a8c4;
  background: #fff;
}

.btn_wrap {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 0;
}

.contentsWrap {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 0.5rem;
}

.contents.is-works {
  padding: 1rem;
  border: 0.05rem solid #a6a5a5;
  border-radius: 0.5rem;
}

.inputBtn_wrap {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.inputBtn {
  box-shadow: inset -2px -2px 0 #dcdada;
  text-shadow: rgb(196, 195, 195) 1px 1px;
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 0.2rem;
  border: 0.05rem solid #a6a5a5;
  background: #fff;
  letter-spacing: 0.2rem;
}

/*------------------------ modal -------------------- */
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal__content {
  position: relative;
  background-color: white;
  border-radius: 8px;
  width: 90%;
  max-width: 1000px;
  height: 80%;
  display: flex;
  flex-direction: column;
}
.modal__content .inputItem {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.modal__content .inputItem + .inputItem {
  margin-top: 2rem;
}
.modal__content .adjustButton {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.4rem 0.8rem;
  font-size: 0.8rem;
  border: 0.05rem solid #a6a5a5;
  border-radius: 0.3rem;
  background: #f8f9fa;
  color: #495057;
  text-shadow: rgb(196, 195, 195) 1px 1px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.modal__content .adjustButton::before {
  content: "";
  width: 1rem;
  height: 0.5rem;
  background: #a6a5a5;
  -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%);
  clip-path: polygon(0 0, 100% 0%, 50% 100%);
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.modal__content .adjustButton::after {
  content: "";
  width: 1rem;
  height: 0.5rem;
  background: #f8f9fa;
  -webkit-clip-path: polygon(0 0, 100% 0%, 50% 100%);
  clip-path: polygon(0 0, 100% 0%, 50% 100%);
  position: absolute;
  bottom: -0.4rem;
  left: 50%;
  transform: translateX(-50%);
}
.modal__content .adjustButton:hover {
  transform: translateY(1px);
}
.modal__content .adjustButton:active {
  transform: translateY(0);
}
.modal__content h3 {
  border-bottom: 0.15em solid #74a8c4;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 1.5em;
}
.modal__content .previewArea,
.modal__content .textInput,
.modal__content textarea {
  border: 1px solid #a6a5a5;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}
.modal__content .previewArea.is-code,
.modal__content .textInput.is-code,
.modal__content textarea.is-code {
  line-height: 1.4;
  overflow: scroll;
}
.modal__content .checkBox {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1em;
}
.modal__content .checkBox input {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  border: 0.15rem solid #a6a5a5;
  border-radius: 0.2rem;
  outline: none;
}
.modal__content .checkBox input:checked {
  background: #74a8c4;
  border: none;
}
.modal__content .checkBox input:checked::before {
  content: "✔︎";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.modal__header {
  padding: 20px;
  border-bottom: 1px solid #eee;
}

.modal__closeBtn {
  position: absolute;
  top: -2rem;
  right: -2rem;
  background: none;
  border: none;
  z-index: 1000;
  width: 2.5rem;
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
}

.modal__mainContents {
  padding: 1rem;
}
.modal__mainContents.is-grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.modal__mainContents .mainContents {
  padding-left: 1rem;
  overflow-y: auto;
}

.edit__contentsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editChild {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 1rem;
  border-right: 1px solid #eee;
}

.edit__childEleList li {
  background: #e6e6e6;
  padding: 1rem 0.5rem;
  border-radius: 0.3rem;
}
.edit__childEleList li + li {
  margin-top: 1rem;
}

.edit__childEleItemBtnWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit__childEleItem {
  color: #666;
  overflow: hidden;
}

.part_Wrap {
  position: relative;
  transition: all 0.2s;
}
.part_Wrap.is-empty,
.part_Wrap:hover {
  border: 1px solid #a6a5a5;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
.part_Wrap + .part_Wrap {
  margin-top: 0.3rem;
}
.part_Wrap .part.is-empty {
  text-align: center;
  font-size: 0.8rem;
  color: #979797;
  border: dashed 0.05rem #a6a5a5;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
.part_Wrap .partBtns {
  position: absolute;
  top: -1.7rem;
  right: 0;
  display: flex;
  gap: 0.3rem;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.2s ease;
}
.part_Wrap .partBtns button {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6705882353);
  width: 2rem;
  aspect-ratio: 1/1;
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.part_Wrap .partBtns button.is-edit span {
  transform: rotate(90deg);
  font-size: 0.7em;
}
.part_Wrap:hover .partBtns {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/*------------------------ frameList -------------------- */
.frameList_item {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset -2px -2px 0 #dcdada;
  font-size: 0.9rem;
  width: 100%;
  position: relative;
  min-height: 3rem;
  border: 0.05rem solid #a6a5a5;
  border-radius: 2rem;
  background: #fff;
}
.frameList_item::before {
  box-shadow: -2px -2px 2px #dcdada;
  position: absolute;
  content: "";
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  background: #d4d4d4;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 50%;
  border: 0.05rem solid #a6a5a5;
}
.frameList_item.is-active::before {
  background: #74a8c4;
}
.frameList_item + .frameList_item {
  margin-top: 1rem;
}

select {
  width: 100%;
  padding: 1rem;
  box-shadow: inset -2px -2px 0 #dcdada;
  margin-bottom: 0.5rem;
  background: #979797;
  text-shadow: rgb(196, 195, 195) 1px 1px;
  font-size: 0.8rem;
  border: 0.02rem solid #a6a5a5;
}

select,
::picker(select) {
  -webkit-appearance: base-select;
  -moz-appearance: base-select;
  appearance: base-select;
  border-radius: 0.5rem;
}
select::picker-icon,
::picker(select)::picker-icon {
  display: none;
}

/*------------------------ Code Editor Styles -------------------- */
.codeEditor {
  font-family:
    "Consolas", "Monaco", "Lucida Console", "Liberation Mono",
    "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace !important;
  font-size: 13px !important;
  line-height: 1.5 !important;
  resize: vertical;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
}
.codeEditor:focus {
  outline: none !important;
  border-color: #74a8c4 !important;
  box-shadow: 0 0 0 0.2rem rgba(116, 168, 196, 0.25) !important;
}
.codeEditor::-moz-placeholder {
  color: #6c757d;
  font-style: italic;
}
.codeEditor::placeholder {
  color: #6c757d;
  font-style: italic;
} /*# sourceMappingURL=index.css.map */
