.box {
  border: 1px solid #333;
  padding: 20px;
  font-size: 20px;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

input,
textarea {
  border: 1px solid #656464;
  padding: 10px 20px;
  border-radius: 3px;
  display: inline-block;
}

textarea {
min-height: 70px;
background: #000;
}

.inputArea {
  display: flex;
  flex-direction: column;
  gap: 20px;
}